<div id="<%= dom_id tasklist %>">
  <p>
    <strong>Taskname:</strong>
    <%= tasklist.Taskname %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tasklist.Status ? "Completed" : "Pending" %>
  </p>

  <p>
    <strong>Duedate:</strong>
    <%= tasklist.Duedate %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= tasklist.Details %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= tasklist.user_id %>
  </p>

</div>
