<head>
<h1>Task list</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Status</th>
      <th>Due date</th>
      <th>Details</th>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
<div id="tasklists">
  <% @tasklists.each do |tasklist| %>
      <tr>
        <td><%= tasklist.Taskname %></td>
        <td><%= tasklist.Status ? "Completed" : "Pending" %></td>
        <td><%= tasklist.Duedate %></td>
        <td><%= tasklist.Details %></td>
        <td><%= tasklist.user_id %></td>
        <td><%= link_to t('action.show_task'), tasklist %></td>
      </tr>
   
  <% end %>
  </div>
</tbody>
</table>


<br>

<%= link_to t('link.new_task'), new_tasklist_path %>

