<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.firstname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>DOB:</strong>
    <%= user.dob %>
  </p>

  <p>
    <strong><u>Tasks</u></strong>
    <% @task.each do |x| %>
    <br>
    <%= x %>
    <% end %>
</p>
  
</div>
