<style>table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</p>


<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>DOB</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
<div id="users">
  <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.dob %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
   
  <% end %>
</div>
</tbody>
</table>
<br>

<%= link_to "New user", new_user_path %>
